pkgbase = kesl-gui
	pkgdesc = Kaspersky Endpoint Security 12.4.0 for Linux (GUI)
	pkgver = 12.4.0.1225
	pkgrel = 1
	url = https://support.kaspersky.com/help/KES4Linux/12.4.0/en-US/264264.htm
	install = kesl-gui.install
	arch = x86_64
	license = custom
	depends = perl
	depends = kesl
	depends = freetype2
	noextract = kesl-gui_12.4.0-1225_amd64.deb
	options = !strip
	source = https://products.s.kaspersky-labs.com/endpoints/keslinux10/12.4.0.1225/multilanguage-INT-12.4.0.1225/2e87cd4574424b4b88dbcb010ee0f022/kesl-gui_12.4.0-1225_amd64.deb
	source = kesl-gui.install
	validpgpkeys = 6AFE173577C4CBD621DF217FD093435AA3ED2C4A
	sha256sums = 5A8B6E63F4AB3E42AB2A35162DAAE8CFC0C7DEDC64ACCEEB5D66763501F5AB1E
	sha256sums = 6eb8fdafdd0811ed25d7b36541f8214e1c3b4f9989d8e1df448311535827121a

pkgname = kesl-gui
